.cart-items {
    list-style-type: none;
    font-weight: bold;
    display: inline;
    padding: 0.5rem;
}

.total {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.reactions {
    float: right;
    padding: 5px;
}

.reactions button {
    margin-left: 10px;
    border-radius: 10px;
    padding: 3px
}

.reactions button:hover {
    background-color: yellowgreen;
}

.btnSecond {
    background-color: brown;
    color: white;
}

.liTag {
    border-bottom: 2px solid red;
    padding: 0.5rem;
    word-spacing: 0.2rem;
    font-size: 15px;
}

.common {
    float: right;
    padding: 2px;
    margin-left: 10px;
}

.common:hover {
    background-color: aqua;
}