.cart-items {
    list-style-type: none;
    font-weight: bold;
    display: inline;
    padding: 0.5rem;
}

.total {
    display: flex;
    justify-content: space-between;
}

.reactions {
    display: flex;
    justify-content: flex-end;
    padding-top: 0.5rem;
}

.btnSecond {
    background-color: brown;
    color: white;
}

.liTag {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid red;
    padding: 0.5rem;
}